extends layout

block content

  // Everything in main panel
  +panel-primary(title)
    //+table.table.table-striped.table-hover
    // update to compact table?
    table.table.table-striped.table-responsive
      thead
        // Header Row
        tr
          th.hidden-xs Info
          th Name
          th State
          th.hidden-sm.hidden-xs GUID
          th.hidden-sm.hidden-xs Docker Image
          th Actions
      tbody 
        each app in apps

          //Row for each app
          tr
            td.clickable.hidden-xs(data-toggle='collapse', data-target='#details-'+app.metadata.guid)
              +icon("info-sign")
            td
              b #{app.entity.name}
            td(class="app-"+app.entity.state) #{app.entity.state}
            td.hidden-sm.hidden-xs #{app.metadata.guid}
            td.hidden-sm.hidden-xs #{app.entity.docker_image}

            //Actions for each app
            td
              div.clickablebutton.hidden-sm.hidden-md.hidden-lg.hidden-xl(data-toggle='collapse', data-target='#details-'+app.metadata.guid)
                div.hidden-sm.hidden-md.hidden-lg.hidden-xl
                  +icon("info-sign")
              div.clickablebutton(onclick='appstart("'+app.metadata.guid+'");', data-toggle='collapse', data-target='#message-'+app.metadata.guid)
                div.hidden-xs
                  +btn-success("Start")
                div.hidden-sm.hidden-md.hidden-lg.hidden-xl
                  +icon("play")
              div.clickablebutton(onclick='appstop("'+app.metadata.guid+'");', data-toggle='collapse', data-target='#message-'+app.metadata.guid)
                div.hidden-xs
                  +btn-warning("Stop")
                div.hidden-sm.hidden-md.hidden-lg.hidden-xl
                  +icon("stop")
              div.clickablebutton(onclick='appupdate("'+app.metadata.guid+'");', data-toggle='collapse', data-target='#message-'+app.metadata.guid)
                div.hidden-xs
                  +btn-info("Update")
                div.hidden-sm.hidden-md.hidden-lg.hidden-xl
                  +icon("refresh")
              div.clickablebutton(onclick='appdelete("'+app.metadata.guid+'");', data-toggle='collapse', data-target='#message-'+app.metadata.guid)
                div.hidden-xs
                  +btn-danger("Delete")
                div.hidden-sm.hidden-md.hidden-lg.hidden-xl
                  +icon("remove")
                  
         
          //Hidden row for showing app details
          tr(id="details-"+app.metadata.guid).collapse
            td(colspan='6')
              div.sub
                +panel-info(app.entity.name)
                  table.table.table-striped.table-dark
                   thead.thead-inverse
                    tr
                      th Property
                      th Details
                    each ent, key in app.entity
                      tr
                        td
                          b #{key}
                        td #{ent}

          //Hidden row for showing app action messages
          tr(id="message-"+app.metadata.guid).collapse
            td(colspan='6')
              div.sub(id="messagetext-"+app.metadata.guid)
                +alert-info("")
        
        //Row for adding new apps
        tr
          td(colspan="6")
            div.row
              div.col-md-2
                +icon("plus")
              div.col-md-5
                +input("text","txtAppName","App Name","App Name")
              div.col-md-5
                +input("text","txtImageName","App Docker Image","App Docker Image")
            div.row
              div.col-md-2
              div.col-md-10
                span.clickable(onclick='appadd(null, null)', data-toggle='collapse', data-target='#message-new')
                 +btn-success("Push App")

        //Hidden row for messages adding new apps
        tr(id="message-new").collapse
          td(colspan='6')
            div.sub(id="messagetext-new")
              +alert-info("")
  h1
   