extends layout

block content
  h1= title
  table
    thead
      tr
        td Name
        td State
        td GUID
        td URI
        td Actions
    tbody 
  each app in apps
    if app
      tr
        td #{app.entity.name}
        td #{app.entity.state}
        td #{app.entity.stack_guid}
        td #{app.entity.stack_url}
        td #{app.entity.name}


  div !{table}
   