extends layout

block content

  // Everything in main panel
  +panel-primary(title + " " + subtitle)
    table.table.table-striped.table-hover
      thead.thead-dark
        // Header Row
        tr
          th Info
          th Name
          th State
          th GUID
          th Docker Image
          th Actions
      tbody 
        each app in apps

          //Row for each app
          tr
            td.clickable(data-toggle='collapse', data-target='#details-'+app.metadata.guid)
              +icon("info-sign")
            td
              b #{app.entity.name}
            td(class="app-"+app.entity.state) #{app.entity.state}
            td #{app.metadata.guid}
            td #{app.entity.docker_image}

            //Actions for each app
            td
              span.clickable(onclick='appstart("'+app.metadata.guid+'");', data-toggle='collapse', data-target='#message-'+app.metadata.guid)
                +btn-success("Start")
              span.clickable(onclick='appstop("'+app.metadata.guid+'");', data-toggle='collapse', data-target='#message-'+app.metadata.guid)
                +btn-warning("Stop")
              span.clickable(onclick='appupdate("'+app.metadata.guid+'");', data-toggle='collapse', data-target='#message-'+app.metadata.guid)
                +btn-info("Update")
              span.clickable(onclick='appdelete("'+app.metadata.guid+'");', data-toggle='collapse', data-target='#message-'+app.metadata.guid)
                +btn-danger("Delete")
         
          //Hidden row for showing app details
          tr(id="details-"+app.metadata.guid).collapse
            td(colspan='6')
              div.sub
                table.table.table-striped.table-dark
                  thead.thead-inverse
                    tr
                      th Property
                      th Details
                  each ent in app.entity
                    tr
                      td #{app.entity[ent]}
                      td #{ent}

          //Hidden row for showing app action messages
          tr(id="message-"+app.metadata.guid).collapse
            td(colspan='6')
              div.sub(id="messagetext-"+app.metadata.guid)
                +alert-info("")
        
        //Row for adding new apps
        tr
          td(colspan="1")
            +icon("plus")
          td(colspan="2")
            +input("text","txtAppName","App Name","App Name")
          td(colspan="2")
            +input("text","txtImageName","App Docker Image","App Docker Image")
          td(colspan="1")
            span.clickable(onclick='appadd(null, null)', data-toggle='collapse', data-target='#message-new')
              +btn-success("Push App")

        //Hidden row for messages adding new apps
        tr(id="message-new").collapse
          td(colspan='6')
            div.sub(id="messagetext-new")
              +alert-info("")
  h1
   